version: "3.9"

services:
  ml:
    build: .
    image: ml-pytorch-cuda-jupyter
    container_name: ml-pytorch-jupyter
    runtime: nvidia
    working_dir: /workspace
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - CUDA_VISIBLE_DEVICES=0
      - PYTORCH_ALLOC_CONF=expandable_segments:True
      - TORCH_ALLOW_TF32_CUBLAS_OVERRIDE=1
    volumes:
      - ./notebooks:/workspace/notebooks
      - ./data:/workspace/data
    ports:
      - "8888:8888"
    shm_size: "16gb"
    ulimits:
      memlock: -1
      stack: 67108864
